@import url('https://fonts.googleapis.com/css2?family=Arima:wght@200&family=Dosis:wght@200&family=Niconne&display=swap');

* {
  background-color: #FAEFEB;
  margin: 0;
  padding: 0;
}

.title {
 font-family: Arima, cursive;
 font-size: 1.4em;
}

.for {
  font-family: 'Niconne', cursive;
  font-size: 1.3em;
}

.App {
  font-family: 'Dosis', sans-serif;
  font-size: 1.2em;
  text-align: center;
}

.sub {
   font-size: 1.1em;
   margin: 20px;
}

.photoIca {
  width: 100vw;
  -webkit-mask-image: linear-gradient(to top, transparent 0%, black 50%);
}

.present {
  margin-left: 30px;
  margin-right: 30px;
}

.make {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.att {
  display: flex;
  flex-direction: column-reverse;
  margin: 5px;
}

.finish {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 20px;
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
}

.imgIca {
  width: 40%;
  border-radius: 50%;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.words {
  margin: 30px;
  font-family: 'Dosis', sans-serif;
}

.ff {
  font-size: .9em;
  margin-bottom: 50px;
}

.end {
  display: none;
}